
matlab_scripts/calcNewBoundsFunc.m
matlab_scripts/firstLevel_NR.m
matlab_scripts/firstLevel_SR.m
matlab_scripts/firstLevel_TSR.m
matlab_scripts/getElectrodePairs.m
matlab_scripts/prepareETData.m
matlab_scripts/RestingAlphaPeak.m
matlab_scripts/SyncET2EEG.m
matlab_scripts/wordbounds_NR.mat
matlab_scripts/wordbounds_SNR.mat
matlab_scripts/wordbounds_TSR.mat
README_ZuCo.pdf
results_zuco/task1/preprocessed/sentencesSR.mat
results_zuco/task1/preprocessed/sentiment_normal_reading.csv
results_zuco/task1/resultsZAB_SR.mat
results_zuco/task1/resultsZDM_SR.mat
results_zuco/task1/resultsZDN_SR.mat
results_zuco/task1/resultsZGW_SR.mat
results_zuco/task1/resultsZJM_SR.mat
results_zuco/task1/resultsZJN_SR.mat
results_zuco/task1/resultsZJS_SR.mat
results_zuco/task1/resultsZKB_SR.mat
results_zuco/task1/resultsZKH_SR.mat
results_zuco/task1/resultsZKW_SR.mat
results_zuco/task1/resultsZMG_SR.mat
results_zuco/task1/resultsZPH_SR.mat
results_zuco/task2/preprocessed/relations_normal_reading.csv
results_zuco/task2/preprocessed/relations_normal_reading_control_questions.csv
results_zuco/task2/preprocessed/sentencesNR.mat
results_zuco/task2/resultsZAB_NR.mat
results_zuco/task2/resultsZDM_NR.mat
results_zuco/task2/resultsZDN_NR.mat
results_zuco/task2/resultsZGW_NR.mat
results_zuco/task2/resultsZJM_NR.mat
results_zuco/task2/resultsZJN_NR.mat
results_zuco/task2/resultsZJS_NR.mat
results_zuco/task2/resultsZKB_NR.mat
results_zuco/task2/resultsZKH_NR.mat
results_zuco/task2/resultsZKW_NR.mat
results_zuco/task2/resultsZMG_NR.mat
results_zuco/task2/resultsZPH_NR.mat
results_zuco/task3/preprocessed/relations_task_specific.csv
results_zuco/task3/preprocessed/sentencesTSR.mat
results_zuco/task3/resultsZAB_TSR.mat
results_zuco/task3/resultsZDM_TSR.mat
results_zuco/task3/resultsZDN_TSR.mat
results_zuco/task3/resultsZGW_TSR.mat
results_zuco/task3/resultsZJM_TSR.mat
results_zuco/task3/resultsZJN_TSR.mat
results_zuco/task3/resultsZJS_TSR.mat
results_zuco/task3/resultsZKB_TSR.mat
results_zuco/task3/resultsZKH_TSR.mat
results_zuco/task3/resultsZKW_TSR.mat
results_zuco/task3/resultsZMG_TSR.mat
results_zuco/task3/resultsZPH_TSR.mat
task_materials/duplicate_sentences.csv
task_materials/relations_labels_task2.csv
task_materials/relations_labels_task3.csv
task_materials/sentiment_labels_task1.csv
Preprocess_data.ipynb
.ipynb_checkpoints/data_preprocessing-checkpoint.ipynb
.ipynb_checkpoints/Preprocess_data-checkpoint.ipynb
BNC/all.al.gz
__pycache__/utils.cpython-37.pyc
.ipynb_checkpoints/data_exploration-checkpoint.ipynb
utils_ZuCo.py
__pycache__/plot_funcs.cpython-37.pyc
README_ZuCo_DataLoader.docx
README_ZuCo_DataLoader.pdf
__pycache__/utils_ZuCo.cpython-37.pyc
electrodes_information/105chanlocs.csv
electrodes_information/HCGSN_128_channel_map_EGI_plac_8403486-52_20110804.pdf
.ipynb_checkpoints/eeg_feature_extraction-checkpoint.ipynb
eeg_feature_extraction/alpha_features_TRT.txt
eeg_feature_extraction/beta_features_TRT.txt
eeg_feature_extraction/gamma_features_TRT.txt
eeg_feature_extraction/theta_features_TRT.txt
eeg_feature_extraction/__pycache__/extract_eeg_features.cpython-37.pyc
eeg_feature_extraction/.ipynb_checkpoints/eeg_feature_extraction-checkpoint.ipynb
eeg_feature_extraction/important_eeg_features/alpha_features_FFD.txt
eeg_feature_extraction/important_eeg_features/alpha_features_GD.txt
eeg_feature_extraction/important_eeg_features/alpha_features_GPT.txt
eeg_feature_extraction/important_eeg_features/alpha_features_TRT.txt
eeg_feature_extraction/important_eeg_features/beta_features_FFD.txt
eeg_feature_extraction/important_eeg_features/beta_features_GD.txt
eeg_feature_extraction/important_eeg_features/beta_features_GPT.txt
eeg_feature_extraction/important_eeg_features/beta_features_TRT.txt
eeg_feature_extraction/important_eeg_features/gamma_features_FFD.txt
eeg_feature_extraction/important_eeg_features/gamma_features_GD.txt
eeg_feature_extraction/important_eeg_features/gamma_features_GPT.txt
eeg_feature_extraction/important_eeg_features/gamma_features_TRT.txt
eeg_feature_extraction/important_eeg_features/theta_features_FFD.txt
eeg_feature_extraction/important_eeg_features/theta_features_GD.txt
eeg_feature_extraction/important_eeg_features/theta_features_GPT.txt
eeg_feature_extraction/important_eeg_features/theta_features_TRT.txt
*.png
eeg_feature_extraction/__pycache__/eeg_utils.cpython-37.pyc
.ipynb_checkpoints/eeg_feature_plotting-checkpoint.ipynb
task_materials/ner_labels_normal_reading.tsv
